* {
    text-align: right;
}

body {
    background-image: url(https://i.pinimg.com/474x/5e/d9/4d/5ed94d392c1a3fef11f8c3e44966cba0.jpg);
}

h2 {
    color: red;
}

h2 + p{
    color: #AA4139;
    text-align: center;
    border: 5px solid rgba( 255, 176, 170, 0.5);
    cursor: pointer;
}

p {
    line-height: 20px;
    font-style: italic;
    font-weight: bold;
    font-size: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow';
}

img{
    float: left;
}

footer {
    clear: both;
    text-align: center;
}

li {
    list-style: none;
    display: inline-block;
}

.webtext{
    border: 5px solid pink;
}

.active {
    color: red;
}

#div1 {
    background: rgba(0, 0, 255, 0.2);
}