* {
    text-align: right;
}

body {
    background-color: rgb(239, 235, 235);
}
h2 + p{
    color: #AA4139;
    text-align: center;
    border: 5px solid rgba( 255, 176, 170, 0.5);
    cursor: pointer;
}

p {
    line-height: 20px;
    font-style: italic;
    font-weight: bold;
    font-size: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow';
}

li {
    list-style: none;
    display: inline-block;
}

.webtext, p {
    border: 5px dashed green;
}

.active {
    color: red;
}

#div1 {
    background: rgba(0, 0, 255, 0.2);
}
#div2 {
    background: rgba(225, 0, 0, 0.2);
}